#pragma code_page(65001)

#include <windows.h>
#include <commctrl.h>
#include "..\resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_REV
    PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,0,0
    FILEOS          VOS_NT_WINDOWS32
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
	FILEFLAGS		VS_DEBUG
	FILETYPE		TFILETYPE
{
    BLOCK "StringFileInfo"
    {
		//"000004b0"	// Neutral
        BLOCK "040904b0"
        {
			VALUE "CompanyName", APP_COMPANY
#ifdef APP_CANARY 
			VALUE "FileDescription", APP_FULLNAME L" " APP_CANARY
#else
			VALUE "FileDescription", APP_FULLNAME
#endif
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_FILENAME
			VALUE "LegalCopyright", L"\xA9 Nilesoft Ltd."
			//VALUE "LegalCopyright", L"\xA9 2023 Nilesoft Ltd."
			VALUE "OriginalFilename", APP_FILENAME
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_PRODUCT_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}

#ifdef _WINDLL

FONTICON			RCDATA			".\\shell.ttf"

#else
//
// Icon resources
//
IDI_RPMICON			ICON			".\\main.ico"
//IDI_LOGO 			PNG				".\\logo.png"
#endif
//
// Manifest resources
//
TRT_MANIFEST		RT_MANIFEST		".\\manifest.xml"

//
// Bitmap resources
//
//IDB_BITMAP1        BITMAP         "bitmap1.bmp"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#include "lang\\en-US.rc"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#include "lang\\zh-CN.rc"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SINGAPORE
#include "lang\\zh-CN.rc"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
#include "lang\\zh-TW.rc"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG
#include "lang\\zh-TW.rc"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_MACAU
#include "lang\\zh-TW.rc"
